nav{
    display: flex;
    justify-content: right;
    gap: 40px;
}

.index{
    background-color:rgb(231, 108, 81);
    font-size: 4rem;
}

.about{
    background-color:rgb(249, 194, 93);
    font-size: 4rem;
}

.contact{
    background-color:rgb(130, 130, 75);
    font-size: 4rem;
}